@model AppointmentViewModel
@{
    ViewData["Title"] = "Patient Appointment Cancellation";
}

<div class="container my-5">
    <div class="row align-items-center">
        <div class="col-md-6">
            <h4>Are you sure you want to cancel your appointment with 
                @Model.ActivePatient.FirstName @Model.ActivePatient.LastName on 
                @Model.ActiveAppointment.AppointmentDate?.ToString("MMMM dd, yyyy") 
                at @Model.ActiveAppointment.AppointmentDate?.ToString("hh:mm tt")?</h4>

            <div class="d-flex justify-content-center mt-4">
                <form method="post" asp-controller="Admin" asp-action="CancelPatientAppointment" asp-route-appointmentId="@Model.ActiveAppointment.AppointmentId" class="d-flex gap-3">
                    <button type="submit" class="btn btn-danger">Yes</button>
                    <a asp-controller="Admin" asp-action="GetDoctorAppointments" class="btn btn-secondary" asp-route-doctorId = "@Model.ActiveDoctor.DoctorId" >No</a>
                </form>
            </div>
        </div>
        <div class="col-md-6">
            <img src="~/Images/Calendar.png" alt="Calendar" class="img-fluid" />
        </div>
    </div>
</div>
